{%- set titleValue -%}
{{ title }} | {%- if page.fileSlug %} {{ meta.siteName }}{% else %} Front-End SWE, Author, Speaker{% endif -%}
{%- endset -%}
{%- set ogImg %}{{ meta.url }}/previews/{{ title | slug }}.png{% endset %}
{%- set pgDesc %}{% if description %}{{ description }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ titleValue }}</title>
    <meta
      name="description"
      content="{{ pgDesc }}"
    />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👩‍💻</text></svg>"
    />
    <link href="{{ '/css/style.css' | url }}" rel="stylesheet" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@{{ meta.twitterUsername }}" />
    <meta
      name="twitter:title"
      content="{{ titleValue }}"
    />
    <meta
      name="twitter:description"
      content="{{ pgDesc }}"
    />

    <meta
      name="og:title"
      content="{{ titleValue }}"
    />
    <meta
      name="og:description"
      content="{{ pgDesc }}"
    />
    
    <meta property="og:image" content="{{ ogImg }}" />
    <meta name="twitter:image" content="{{ ogImg }}" />
    <link rel="preload" href="{{ '/fonts/baloo-2-v1-latin-regular.woff2' | url }}" as="font" type="font/woff2" crossorigin>
    {% if 'thinkdobecreate' in meta.url %}
    <link rel="preconnect" href="https://plausible.io">
    <link rel="dns-prefetch" href="https://plausible.io">
    <script async defer data-domain="thinkdobecreate.com" src="https://plausible.io/js/plausible.outbound-links.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    {% endif %}
  </head>
  <body class="{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">
    <a href="#main" class="skip-link">Skip to main content</a>

    {% include "nav.njk" %}

    <header>
      <div class="container">
      {% block header %}
        <h1>{{ title }}</h1>
      {% endblock %}
      </div>
    </header>

    {% block precontent %}{% endblock %}

    {% if page.fileSlug != 'contact' and page.fileSlug != 'success' %}
    <section>
      <aside aria-labelledby="promo" class="container">
        <h2 id="promo">Coming in July: Modern CSS Workshop</h2>
        {% if page.fileSlug %}<div class="sidebar">{% endif %}
        <p>I would love to meet you in my Smashing workshop&mdash;<strong>Level-Up With Modern CSS</strong>. 
        {% if not page.fileSlug %} We'll create a framework for building practical, scalable components using modern CSS while also learning about the "why" of each decision, and emphasizing accessibility. <em>Spoiler alert: you'll learn a lot about custom properties and CSS grid!</em>{% endif %}</p>
        <a href="https://smashingconf.com/online-workshops/workshops/stephanie-eckles" class="button">Register Now</a>
        {% if page.fileSlug %}</div>{% endif %}
      </aside>
    </section>
    {% endif %}

    <main id="main" tabindex="-1" class="container">
      {{ content | safe }}
    </main>

    {% if page.fileSlug and page.fileSlug != 'success' and page.fileSlug != 'confirmation' %}
    <aside class="callout callout--wide">
      <div class="container">
      {% include "newsletter.njk" %}
      </div>
    </aside>
    {% endif %}

    <footer>
      <div class="container">
        <p>&copy; {% year %} Stephanie Eckles</p>
        {% include "links.njk" %}
        <p>Support my projects - <a href="https://www.buymeacoffee.com/moderncss">buy me a coffee</a></p>
      </div>
    </footer>
  </body>
</html>
