{%- set titleValue -%}
{%- if title %}{{ title }} | {% endif %}{{ meta.siteName }}{% if not title %} | Front-End SWE, Author, Speaker{% endif -%}
{%- endset -%}
{%- set ogImg %}{% if title %}{{ title | slug }}{% else %}home{% endif %}{% endset %}
{%- set pgDesc %}{% if description %}{{ description }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ titleValue }}</title>
    <meta
      name="description"
      content="{{ pgDesc }}"
    />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👩‍💻</text></svg>"
    />
    <link href="{{ '/css/style.css' | url }}" rel="stylesheet" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@{{ meta.twitterUsername }}" />
    <meta
      name="twitter:title"
      content="{{ titleValue }}"
    />
    <meta
      name="twitter:description"
      content="{{ pgDesc }}"
    />

    <meta
      name="og:title"
      content="{{ titleValue }}"
    />
    <meta
      name="og:description"
      content="{{ pgDesc }}"
    />
    
    <meta property="og:image" content="{{ meta.url }}/previews/{{ ogImg }}.png" />
    <meta name="twitter:image" content="{{ meta.url }}/previews/{{ ogImg }}.png" />
    {% if 'thinkdobecreate' in meta.url %}
    <link rel="preconnect" href="https://plausible.io">
    <link rel="dns-prefetch" href="https://plausible.io">
    <script async defer data-domain="thinkdobecreate.com" src="https://plausible.io/js/plausible.outbound-links.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    {% endif %}
  </head>
  <body>
    <a href="#main" class="skip-link">Skip to main content</a>
    {{ content | safe }}

    <footer>
      <div class="container">
        <p>&copy; {% year %} Stephanie Eckles</p>
        {% include "links.njk" %}
        <p>Support my projects - <a href="https://www.buymeacoffee.com/moderncss">buy me a coffee</a></p>
      </div>
    </footer>
  </body>
</html>
