<nav>
  <ul role="list">
    <li><a href="{{ '/' | url }}" aria-label="Stephanie Eckles">{% include "svg.njk" %} 
      {% if page.fileSlug %}Stephanie Eckles{% endif %}
      </a></li>
    <li><a href="{{ '/#learn' | url }}">Learn</a></li>
    <li><a href="{{ '/#projects' | url }}">Projects</a></li>
    <li><a href="{{ '/#writing' | url }}">Writing</a></li>
    <li><a href="{{ '/#events' | url }}">Events</a></li>
  </ul>
</nav>