<div>
  <h3>CSS Tips & Front-End Resources</h3>
  <p>Join the <strong>ModernCSS.dev newsletter</strong> for updates, tips, and resources!</p>
</div>

<a href="https://moderncss.ck.page/263e48a3bc" class="button button--outlined button--inverse">Subscribe</a>