---
layout: base
---

<header>
  <div class="header__content">
    <h1>{{ title }}</h1>
    <p><strong>Published on</strong>: {{ postdate | formatDate | safe }}</p>
  </div>
</header>

<main id="main" tabindex="-1" class="container">
  <article>
    {{ content | safe }}
  </article>
</main>