<nav class="tdbc-sitenav tdbc-container">
  <ul class="tdbc-sitenav__navlist tdbc-list-unstyled">
    <li>
      <a class="tdbc-sitenav__home" href="/" aria-label="{{ meta.siteName }}">{% include "svg.njk" %}</a>
    </li>
    <li>
      <a href="{{ '/#work' | url }}">Work</a>
    </li>
    <li>
      <a href="{{ '/#speaking' | url }}">Speaking</a>
    </li>
    <li>
      <a href="{{ '/#articles' | url }}">Articles</a>
    </li>
    <li>
      <a href="{{ '/#resources' | url }}">Resources</a>
    </li>
    <li>
      <a href="{{ '/contact/' | url }}">Contact</a>
    </li>
  </ul>
</nav>
