@import "theme";

.tdbc-icon {
  display: inline-flex;
  position: relative;
  width: 1em;
  height: 1em;
  color: currentColor;
  font-size: $tdbc-unit * 4;

  // stylelint-disable-next-line selector-max-type
  svg {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    fill: currentColor;
    opacity: 0.7;
  }
}

.tdbc-splash-graphic {
  position: fixed;
  top: 60vh;
  min-width: 115vw;
  min-height: 55vh;
  z-index: -1;

  $svg-colors: map-remove($tdbc-brand-colors, "primary");
  $length: length($svg-colors);

  @each $name, $color in $svg-colors {
    // index = current item # in the list
    $i: index(($svg-colors), ($name $color));

    // "apply every $length items, starting at current index"
    path:nth-child(#{$length}n + #{$i}) {
      fill: $color;
    }
  }

  @media (max-width: 500) {
    position: absolute;
  }
}
