.tdbc-form {
  display: grid;
  width: 100%;
  max-width: 40ch;
  margin-right: auto;
  margin-left: auto;
  grid-gap: var(--tdbc-space-md);
}

.tdbc-form-notice {
  font-size: 1.15rem;

  a {
    color: tdbc-color(primary);
    font-size: inherit;
  }
}

.tdbc-form__field {
  display: grid;
  grid-gap: 0.5rem;
}

.tdbc-form__label {
  font-size: tdbc-type-style(h4);
}

.tdbc-form__input {
  padding: 0.25em 0.5em;
  border: 2px solid var(--tdbc-color-primary-dark);
  border-radius: var(--tdbc-border-radius);
  font-size: 1.25rem;

  &:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px #fff, 0 0 4px 4px scale-color(tdbc-color(primary), $lightness: -40%);
  }
}
