// stylelint-disable selector-max-type

body {
  @include tdbc-keyboard-focus("a:not(.tdbc-icon-button):not(.tdbc-button)", 0.2em);

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0.5rem 0;
  padding-top: calc(40vh - 150px);
  background-color: tdbc-color(primary);
  font-family: Heebo, sans-serif;
  text-align: center;
  overflow-x: hidden;

  &,
  a {
    color: tdbc-color(light);
  }

  @media (max-width: 600px) {
    justify-content: flex-start;
    padding-top: 20vh;
  }

  @media (max-width: 320px) {
    padding-top: 8vh;
  }
}

.tdbc-statement {
  width: 60vw;
  max-width: 600px;
  margin: 1rem;
  color: rgba(tdbc-color(light), 0.85);

  strong {
    color: tdbc-color(light);
  }
}

// stylelint-disable selector-id-pattern, selector-max-id, selector-max-specificity
#learn {
  position: relative;
  width: 100%;
  margin: 10vh auto;
  overflow-x: hidden;

  &::before {
    position: absolute;
    top: 5vh;
    bottom: 10vh;
    left: -10%;
    width: 120%;
    height: 80%;
    transform: rotate(-4deg);
    background-color: scale-color(tdbc-color(primary), $lightness: -8%);
    content: "";
  }

  .tdbc-wrapper {
    display: grid;
    position: relative;
    margin: 15vh auto;
    grid-gap: 1em;
    text-align: left;

    @media (min-width: 600px) {
      align-items: center;
      justify-content: space-around;
      grid-template-columns: 20vmin 0.8fr;
    }
  }

  svg {
    width: 20vmin;
  }

  .tdbc-button--secondary {
    margin-bottom: 1rem;
    background-color: #1dcfc5;
  }
}
// stylelint-enable
