// stylelint-disable selector-max-type
html,
body {
  overflow-x: hidden;
}

body {
  @include tdbc-keyboard-focus("a:not(.tdbc-icon-button):not(.tdbc-button):not(.tdbc-h4)", 0.2em);

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0.5rem 0;
  padding-top: calc(30vh - 150px);
  background-color: tdbc-color(primary);
  font-family: Heebo, sans-serif;
  text-align: center;

  @media (max-width: 600px) {
    justify-content: flex-start;
    padding-top: 10vh;
  }

  @media (max-width: 320px) {
    padding-top: 8vh;
  }
}

.tdbc-statement {
  max-width: 60ch;
  margin: 1rem;
  color: rgba(tdbc-color(light), 0.85);
  font-size: 1.125rem;

  a,
  strong {
    color: tdbc-color(light);
  }
}

.tdbc-posts {
  min-height: 250px;
  transition: 320ms opacity ease-in;
  opacity: 0;

  // stylelint-disable-next-line selector-class-pattern
  &.loaded {
    opacity: 1;
  }

  .tdbc-button {
    box-shadow: 0 0 0 3px tdbc-color(primary);
  }

  .tdbc-card__content {
    position: relative;

    a {
      margin-bottom: 1rem;
      color: scale-color(tdbc-color(secondary), $lightness: -15%);
      line-height: 1.15;
      text-decoration: none;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 180ms box-shadow ease-in;
        border-radius: 8px;
        content: "";
      }

      &:focus {
        outline: none;
      }
      &:focus,
      &:hover {
        // stylelint-disable-next-line max-nesting-depth
        &::before {
          box-shadow: 0 0 0 3px tdbc-color(secondary);
        }
      }
    }

    span:last-child {
      margin-top: auto;
    }
  }
}

// stylelint-disable selector-id-pattern, selector-max-id, selector-max-specificity
#learn {
  position: relative;
  width: 100%;
  margin: 10vmin auto;
  color: tdbc-color(light);

  &::before {
    position: absolute;
    top: 3vmin;
    bottom: 5vmin;
    left: -10%;
    width: 120%;
    transform: rotate(-4deg);
    background-color: scale-color(tdbc-color(primary), $lightness: -8%, $saturation: -10%);
    content: "";
  }

  .tdbc-wrapper {
    display: grid;
    position: relative;
    margin: 15vmin auto;
    grid-gap: 1em;
    text-align: left;

    @media (min-width: 600px) {
      align-items: center;
      justify-content: space-around;
      grid-template-columns: 20vmin 0.8fr;
    }
  }

  svg {
    width: 20vmin;
  }

  .tdbc-button--secondary {
    margin-bottom: 1rem;
    background-color: #1dcfc5;
  }
}
// stylelint-enable
