.tdbc-sitenav {
  --tdbc-container-width: 80ch;

  &__navlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;

    > * {
      padding: 0.5rem;
    }

    a {
      color: var(--tdbc-color-support);
    }
  }

  &__home {
    display: inline-block;
    width: var(--tdbc-space-md);
    height: var(--tdbc-space-md);

    @media (max-width: 405px) {
      display: none;
    }
  }
}
