$tdbc-color-primary: #7660eb;
$tdbc-color-primary-light: scale-color($tdbc-color-primary, $lightness: 55%);
$tdbc-color-primary-dark: scale-color($tdbc-color-primary, $lightness: -55%);
$tdbc-color-secondary: #21c2b7;
$tdbc-color-tertiary: #fc5d6d;
$tdbc-color-support: #ffcd42;
$tdbc-color-background: $tdbc-color-primary;

$tdbc-brand-colors: (
  primary: $tdbc-color-primary,
  primary-light: $tdbc-color-primary-light,
  primary-dark: $tdbc-color-primary-dark,
  secondary: $tdbc-color-secondary,
  tertiary: $tdbc-color-tertiary,
  support: $tdbc-color-support,
);

$tdbc-colors: map-merge(
  $tdbc-brand-colors,
  (
    background: $tdbc-color-background,
    light: #fff,
    dark: rgba(black, 0.87),
  )
);

@function tdbc-color($key) {
  @return map-get($tdbc-colors, $key);
}

// Add/remove to selectively generate `ink` (text color) classes
$tdbc-ink-colors: primary-light, primary-dark, light;

// Add/remove to selectively generate `background` (text color) classes
$tdbc-background-colors: primary-dark, secondary;

$tdbc-button-variants: primary, secondary;
$tdbc-color-anchor: tdbc-color(secondary);
$tdbc-color-anchor-active: tdbc-color(light);
$tdbc-border-radius: 4px;

$tdbc-font-family: "Baloo 2", sans-serif;
$tdbc-font-weight-strong: 500;
$tdbc-type-base-size: 1.15rem; // Baloo 2 is a bit small

$tdbc-spacing: (
  sm: 1rem,
  md: 2rem,
  lg: 4rem,
  xl: 6rem,
  auto: "auto",
);

:root {
  @each $key, $color in $tdbc-colors {
    --tdbc-color-#{$key}: #{$color};
  }

  --tdbc-color-anchor: #{$tdbc-color-anchor};
  --tdbc-color-anchor-active: #{$tdbc-color-anchor-active};
  --tdbc-font-family: "Baloo 2", sans-serif;
  --tdbc-font-weight-strong: #{$tdbc-font-weight-strong};
  --tdbc-border-radius: #{$tdbc-border-radius};
  --tdbc-highlight-alpha: 0.15;
  --tdbc-highlight-pos: 45%;
  --tdbc-column-min: 30ch;
  --tdbc-stack-gap: 0.5rem;
  --tdbc-container-width: 120ch;

  @each $key, $space in $tdbc-spacing {
    --tdbc-space-#{$key}: #{$space};
  }

  --tdbc-gradient: linear-gradient(
    to right,
    var(--tdbc-color-tertiary),
    var(--tdbc-color-support),
    var(--tdbc-color-secondary)
  );
}
