// stylelint-disable selector-max-type

h1 {
  font-size: 2.5rem;
  font-weight: $tdbc-strong-font-weight;
}

h2 {
  font-size: 1.5rem;
  font-weight: $tdbc-strong-font-weight;
}

strong {
  font-weight: $tdbc-strong-font-weight;
}
