.tdbc-element-highlight {
  background-image: linear-gradient(
    rgba(255, 255, 255, var(--tdbc-highlight-alpha)),
    rgba(255, 0, 0, 0) var(--tdbc-highlight-pos)
  );
}

.tdbc-gradient {
  &--before {
    display: grid;

    &::before {
      width: 100%;
      height: 3px;
      background-image: var(--tdbc-gradient);
      content: "";
    }
  }
}

@each $key in $tdbc-background-colors {
  .tdbc-background--#{$key} {
    background-color: tdbc-color($key);
  }
}

@each $key in $tdbc-ink-colors {
  .tdbc-ink--#{$key},
  a.tdbc-ink--#{$key} {
    color: tdbc-color(#{$key});
  }
}

.tdbc-mt-lg {
  margin-top: var(--tdbc-space-md);
}
