# dependencies installed by npm
node_modules

# build artifacts
.cache
public
pages.json
netlify/functions/preview/**
!netlify/functions/preview/index.js

# secrets and errors
.env
.log

# macOS related files
.DS_Store


# Local Netlify folder
.netlify
