body {
  background-color: #7660eb;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Source Sans Pro";
  font-size: 16px;
  text-align: center;
  padding: 0.5rem;
  padding-top: calc(40vh - 150px);
  overflow: hidden; }
  body,
  body a {
    color: #f9f9f9; }
  body a:focus {
    outline: none;
    box-shadow: 0 0 4px 2px currentColor;
    border-radius: 2px;
    border: 0.2em solid transparent;
    margin: -0.2em; }
  @media (max-width: 600px) {
    body {
      justify-content: flex-start;
      padding-top: 20vh; } }
  @media (max-width: 320px) {
    body {
      padding-top: 8vh; } }

* {
  box-sizing: border-box;
  margin: 0; }

h1 {
  font-size: 2.5rem; }

a {
  font-size: 1.75rem; }

.statement {
  width: 60vw;
  max-width: 600px;
  margin: 1rem;
  color: rgba(249, 249, 249, 0.85); }
  .statement strong {
    color: #f9f9f9; }

.splash-graphic {
  position: absolute;
  top: 60vh;
  right: 0;
  z-index: -1;
  width: 110vw; }
  .splash-graphic path:nth-child(3n + 1) {
    fill: #21c2b7; }
  .splash-graphic path:nth-child(3n + 2) {
    fill: #fc5d6d; }
  .splash-graphic path:nth-child(3n + 3) {
    fill: #ffbc00; }

.hidden {
  display: none; }

form {
  color: #767676;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(249, 249, 249, 0.9);
  padding: 24px;
  display: flex;
  flex-direction: column;
  transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
  transform-origin: top left;
  transform: translateX(-100%);
  width: 25vw;
  min-width: 300px; }
  form.visible {
    transform: translateX(0);
    overflow-y: auto; }

legend {
  font-size: 24px; }
  legend:focus {
    outline: none; }

.form-notice {
  font-size: 1.15rem;
  margin-top: 5vh; }
  .form-notice a {
    color: #7660eb;
    font-size: inherit; }

.form-control {
  margin: 24px 0 0;
  border: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
  z-index: 1; }
  .form-control label {
    top: 0;
    left: 0;
    position: absolute;
    color: #767676;
    line-height: 1;
    font-size: 1.25rem;
    transform-origin: top left;
    transform: translate(4px, -8px) scale(0.75); }
  .form-control:focus-within .label-notch label:after, .form-control:focus-within .label-notch:before, .form-control:focus-within .label-notch:after {
    border-color: #7660eb;
    border-width: 2px; }
  .form-control:focus-within label,
  .form-control:focus-within span label span {
    color: #7660eb; }

.input {
  color: #666;
  border-radius: 4px 4px 0 0;
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  padding: 16px 14px 8px;
  outline: none; }
  .input:-webkit-autofill {
    z-index: auto !important;
    padding-top: 0;
    margin-top: 14px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px; }
  .input::placeholder {
    color: transparent; }
  .input:focus {
    outline: none;
    box-shadow: inset 0 -1px 0 0 #7660eb;
    border-bottom-color: #7660eb; }
    .input:focus ~ span label:after, .input:focus ~ span:before, .input:focus ~ span:after {
      border-color: #7660eb;
      border-width: 2px; }
    .input:focus ~ label,
    .input:focus ~ span label span {
      color: #7660eb; }
  .input ~ span label:after, .input ~ span:before, .input ~ span:after {
    transition: all 200ms cubic-bezier(0, 0, 0.2, 1); }
  .input--textarea textarea {
    position: relative;
    align-self: auto;
    box-sizing: content-box;
    width: 100%;
    height: auto;
    min-height: 3.4em;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit; }
    .input--textarea textarea:focus + .textarea--focus {
      border-radius: 4px;
      box-shadow: inset 0 -2px 0 1px #7660eb;
      position: absolute;
      top: 0;
      right: 0;
      bottom: -1px;
      left: 0;
      z-index: -1; }

.label-notch {
  position: absolute;
  z-index: -1;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .label-notch label:before,
  .label-notch label:after, .label-notch:before, .label-notch:after {
    border-width: 1px;
    border-style: solid;
    border-color: #666; }
  .label-notch label:before,
  .label-notch label:after, .label-notch:before, .label-notch:after {
    content: ""; }
  .label-notch:before {
    border-radius: 4px 0 0 4px;
    border-right: none;
    width: 10px; }
  .label-notch:after {
    border-radius: 0 4px 4px 0;
    border-left: none;
    flex-grow: 1; }
  .label-notch label {
    transform: none;
    position: relative;
    padding-right: 10px;
    max-width: calc(100% - 12px * 2); }
    .label-notch label span {
      display: block;
      transform-origin: top left;
      transform: translate(4px, -8px) scale(0.75);
      padding-right: 4px;
      margin-right: calc(-1.15em + 4px); }
    .label-notch label:before, .label-notch label:after {
      border-left: none;
      border-right: none;
      border-top: none;
      width: 100%;
      pointer-events: none;
      position: absolute;
      left: 0; }
    .label-notch label:before {
      border: none;
      border-top: 1px solid transparent;
      top: 0;
      transition: border 200ms cubic-bezier(0, 0, 0.2, 1) 0ms; }
    .label-notch label:after {
      bottom: 0; }

.button {
  border: 0;
  padding: 0 24px;
  min-height: 48px;
  min-width: 120px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #fff;
  background-color: #7660eb;
  font-size: 18px;
  align-self: start;
  margin-top: 24px;
  border-radius: 4px;
  cursor: pointer; }
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #3419c5; }
  .button--cancel {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #767676;
    background-color: transparent;
    min-height: 24px;
    min-width: auto; }
    .button--cancel:only-of-type {
      align-self: center; }
    .button--cancel:focus {
      box-shadow: none;
      border-bottom: 1px solid currentColor;
      border-radius: 0; }

.button-group {
  display: flex; }
  .button-group .button:not(:first-child) {
    margin-left: 8px; }

.icon-button {
  position: relative;
  background: transparent;
  border: none;
  color: #fff;
  display: inline-flex;
  width: 1em;
  height: 1em;
  padding: 0;
  font-size: 32px;
  cursor: pointer; }
  .icon-button svg {
    display: inline-block;
    fill: currentColor;
    opacity: 0.7;
    width: 1em;
    height: 1em; }
  p + .icon-button {
    margin-top: 24px; }
  .icon-button:focus, .icon-button:hover {
    outline: none; }
    .icon-button:focus svg, .icon-button:hover svg {
      opacity: 1; }
  .icon-button:focus:after {
    content: "";
    border: 1px solid currentColor;
    border-radius: 50%;
    position: absolute;
    top: -0.3em;
    right: -0.3em;
    bottom: -0.3em;
    left: -0.3em; }
