/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

html {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed; }

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; }
  html {
    scroll-behavior: initial; } }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0.5rem;
  padding-top: calc(40vh - 150px);
  background-color: #7660eb;
  font-family: Heebo, sans-serif;
  text-align: center;
  overflow-x: hidden; }
  body a:not(.tdbc-icon-button):not(.tdbc-button):focus {
    margin: -0.2em;
    border: 0.2em solid transparent;
    border-radius: 2px;
    outline: none;
    box-shadow: 0 0 4px 2px currentColor; }
  body,
  body a {
    color: #f9f9f9; }
  @media (max-width: 600px) {
    body {
      justify-content: flex-start;
      padding-top: 20vh; } }
  @media (max-width: 320px) {
    body {
      padding-top: 8vh; } }

.tdbc-statement {
  width: 60vw;
  max-width: 600px;
  margin: 1rem;
  color: rgba(249, 249, 249, 0.85); }
  .tdbc-statement strong {
    color: #f9f9f9; }

#learn {
  position: relative;
  margin: 10vh auto; }
  #learn::before {
    position: absolute;
    top: 5vh;
    left: -50vw;
    width: 200vw;
    height: 80%;
    transform: rotate(-4deg);
    background-color: #6248e8;
    content: "";
    z-index: -1; }
  #learn .tdbc-wrapper {
    display: grid;
    margin: 15vh auto;
    grid-gap: 1em;
    text-align: left; }
    @media (min-width: 600px) {
      #learn .tdbc-wrapper {
        align-items: center;
        justify-content: space-around;
        grid-template-columns: 20vmin 0.8fr; } }
  #learn svg {
    width: 20vmin; }
  #learn .tdbc-button--secondary {
    background-color: #1dcfc5; }

h1 {
  font-size: 2.5rem;
  font-weight: 500; }

h2 {
  font-size: 1.5rem;
  font-weight: 500; }

strong {
  font-weight: 500; }

.tdbc-max-line-length {
  max-width: 60ch; }

.tdbc-lead {
  font-size: 1.25rem; }

.tdbc-list-decorated {
  display: grid;
  align-items: center;
  padding: 0;
  grid-gap: 1em;
  list-style-type: none; }
  @media (min-width: 600px) {
    .tdbc-list-decorated--columns {
      grid-template-columns: 1fr 1fr; } }
  .tdbc-list-decorated li {
    display: inline-flex;
    position: relative;
    padding-left: 1em; }
    .tdbc-list-decorated li::before {
      flex: 0 0 22px;
      margin-top: -0.2em;
      margin-right: 0.5em;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2022%2022%22%3E%3Cpath%20fill%3D%22%237893DC%22%20d%3D%22M21.5%204.2L18%2010.7l3.5%206.7-7.4-1.2-5.2%205.3-1.2-7.4L1%2010.7l6.7-3.3L8.9%200l5.2%205.4%207.4-1.2z%22%2F%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      background-position: left 0.25em;
      content: ""; }
    .tdbc-list-decorated li:nth-child(2n)::before {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2022%2022%22%3E%3Cpath%20fill%3D%22%23ff7ca6%22%20d%3D%22M21.5%204.2L18%2010.7l3.5%206.7-7.4-1.2-5.2%205.3-1.2-7.4L1%2010.7l6.7-3.3L8.9%200l5.2%205.4%207.4-1.2z%22%2F%3E%3C%2Fsvg%3E"); }

form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-bottom: 20vh;
  padding: 24px;
  border-radius: 4px;
  background: #f9f9f9;
  color: #767676;
  box-shadow: 0 0 0 10px rgba(249, 249, 249, 0.3); }
  form .tdbc-icon {
    align-self: center;
    margin-bottom: 8px; }

legend {
  font-size: 24px; }
  legend:focus {
    outline: none; }

.tdbc-form-notice {
  font-size: 1.15rem; }
  .tdbc-form-notice a {
    color: #7660eb;
    font-size: inherit; }

.tdbc-form-control label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(4px, -8px) scale(0.75);
  transform-origin: top left;
  color: #767676;
  font-size: 1.25rem;
  line-height: 1; }

.tdbc-label-notch {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }
  .tdbc-label-notch label::before,
  .tdbc-label-notch label::after, .tdbc-label-notch::before, .tdbc-label-notch::after {
    border-width: 1px;
    border-style: solid;
    border-color: #666;
    content: ""; }
  .tdbc-label-notch::before {
    width: 10px;
    border-right: none;
    border-radius: 4px 0 0 4px; }
  .tdbc-label-notch::after {
    flex-grow: 1;
    border-left: none;
    border-radius: 0 4px 4px 0; }
  .tdbc-label-notch label {
    position: relative;
    max-width: calc(100% - 12px * 2);
    padding-right: 10px;
    transform: none; }
    .tdbc-label-notch label span {
      display: block;
      margin-right: calc(-1.15em + 4px);
      padding-right: 4px;
      transform: translate(4px, -8px) scale(0.75);
      transform-origin: top left; }
    .tdbc-label-notch label::before, .tdbc-label-notch label::after {
      position: absolute;
      left: 0;
      width: 100%;
      border-top: none;
      border-right: none;
      border-left: none;
      pointer-events: none; }
    .tdbc-label-notch label::before {
      top: 0;
      transition: border 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      border: none;
      border-top: 1px solid transparent; }
    .tdbc-label-notch label::after {
      bottom: 0; }

.tdbc-input {
  padding: 16px 14px 8px;
  border: none;
  border-radius: 4px 4px 0 0;
  outline: none;
  background-color: transparent;
  color: #666;
  font-size: 1.25rem; }
  .tdbc-input:-webkit-autofill {
    margin-top: 14px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    padding-top: 0;
    z-index: auto !important; }
  .tdbc-input::placeholder {
    color: transparent; }
  .tdbc-input ~ span label::after, .tdbc-input ~ span::before, .tdbc-input ~ span::after {
    transition: all 200ms cubic-bezier(0, 0, 0.2, 1); }
  .tdbc-input:focus {
    border-bottom-color: #7660eb;
    outline: none;
    box-shadow: inset 0 -1px 0 0 #7660eb; }
    .tdbc-input:focus ~ span label::after, .tdbc-input:focus ~ span::before, .tdbc-input:focus ~ span::after {
      border-width: 2px;
      border-color: #7660eb; }
    .tdbc-input:focus ~ label,
    .tdbc-input:focus ~ span label span {
      color: #7660eb; }
  .tdbc-input--textarea textarea {
    position: relative;
    align-self: auto;
    box-sizing: content-box;
    width: 100%;
    height: auto;
    min-height: 3.4em;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit; }
    .tdbc-input--textarea textarea:focus + .tdbc-textarea--focus {
      position: absolute;
      top: 0;
      right: 0;
      bottom: -1px;
      left: 0;
      border-radius: 4px;
      box-shadow: inset 0 -2px 0 1px #7660eb;
      z-index: -1; }

.tdbc-form-control {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
  margin: 24px 0 0;
  padding: 0;
  border: 0;
  vertical-align: top;
  z-index: 1; }
  .tdbc-form-control:focus-within .tdbc-label-notch label::after, .tdbc-form-control:focus-within .tdbc-label-notch::before, .tdbc-form-control:focus-within .tdbc-label-notch::after {
    border-width: 2px;
    border-color: #7660eb; }
  .tdbc-form-control:focus-within label,
  .tdbc-form-control:focus-within span label span {
    color: #7660eb; }

.tdbc-button {
  display: inline-flex;
  align-items: center;
  align-self: start;
  justify-content: center;
  min-width: 120px;
  min-height: 48px;
  margin-top: 24px;
  padding: 0 24px;
  border: 0;
  border-radius: 4px;
  background-color: #7660eb;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle; }
  .tdbc-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #3419c5; }
  .tdbc-button--secondary {
    background-color: #21c2b7; }
    .tdbc-button--secondary:focus {
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.87); }
  .tdbc-button--cancel {
    align-self: center;
    min-width: auto;
    min-height: 24px;
    background-color: transparent;
    color: #767676;
    font-size: 0.8rem;
    text-transform: uppercase; }
    .tdbc-button--cancel:focus {
      border-bottom: 1px solid currentColor;
      border-radius: 0;
      box-shadow: none; }
  .tdbc-button--small {
    min-height: 34px;
    padding: 0.25em 0.75em;
    font-size: 1rem; }

.tdbc-button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .tdbc-button-group button:not(:first-child),
  .tdbc-button-group a:not(:first-child) {
    margin-left: 16px; }
  .tdbc-button-group h2 {
    flex: 1 0 50%; }

.tdbc-icon-button {
  display: inline-flex;
  position: relative;
  width: 1em;
  height: 1em;
  padding: 0;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 32px;
  cursor: pointer; }
  .tdbc-icon-button svg {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    fill: currentColor;
    opacity: 0.7; }
  p + .tdbc-icon-button {
    margin-top: 24px; }
  .tdbc-icon-button:focus, .tdbc-icon-button:hover {
    outline: none; }
    .tdbc-icon-button:focus svg, .tdbc-icon-button:hover svg {
      opacity: 1; }
  .tdbc-icon-button:focus::after {
    position: absolute;
    top: -0.3em;
    right: -0.3em;
    bottom: -0.3em;
    left: -0.3em;
    border: 1px solid currentColor;
    border-radius: 50%;
    content: ""; }

.tdbc-icon {
  display: inline-flex;
  position: relative;
  width: 1em;
  height: 1em;
  color: currentColor;
  font-size: 32px; }
  .tdbc-icon svg {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    fill: currentColor;
    opacity: 0.7; }

.tdbc-splash-graphic {
  position: fixed;
  top: 60vh;
  min-width: 115vw;
  min-height: 55vh;
  z-index: -1; }
  .tdbc-splash-graphic path:nth-child(3n + 1) {
    fill: #21c2b7; }
  .tdbc-splash-graphic path:nth-child(3n + 2) {
    fill: #fc5d6d; }
  .tdbc-splash-graphic path:nth-child(3n + 3) {
    fill: #ffbc00; }
  @media (max-width: 500) {
    .tdbc-splash-graphic {
      position: absolute; } }

.tdbc-wrapper {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px; }

.tdbc-d-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.tdbc-d-flex-column {
  flex-direction: column; }

.tdbc-d-flex-between {
  justify-content: space-between; }

.tdbc-m-x {
  margin-right: 16px;
  margin-left: 16px; }

.tdbc-margin-v-sm {
  margin-top: 16px;
  margin-bottom: 16px; }

.tdbc-margin-b-sm {
  margin-bottom: 16px; }

.tdbc-padding-v-sm {
  padding-top: 16px;
  padding-bottom: 16px; }

.tdbc-margin-v-md {
  margin-top: 24px;
  margin-bottom: 24px; }

.tdbc-margin-b-md {
  margin-bottom: 24px; }

.tdbc-padding-v-md {
  padding-top: 24px;
  padding-bottom: 24px; }

.tdbc-margin-v-lg {
  margin-top: 40px;
  margin-bottom: 40px; }

.tdbc-margin-b-lg {
  margin-bottom: 40px; }

.tdbc-padding-v-lg {
  padding-top: 40px;
  padding-bottom: 40px; }

.tdbc-margin-v-xl {
  margin-top: 80px;
  margin-bottom: 80px; }

.tdbc-margin-b-xl {
  margin-bottom: 80px; }

.tdbc-padding-v-xl {
  padding-top: 80px;
  padding-bottom: 80px; }

.tdbc-hidden {
  display: none; }

.tdbc-background-primary {
  background-color: #7660eb; }

.tdbc-background-secondary {
  background-color: #21c2b7; }

.tdbc-background-tertiary {
  background-color: #fc5d6d; }

.tdbc-background-support {
  background-color: #ffbc00; }

.tdbc-ink-primary {
  color: #7660eb; }
  .tdbc-ink-primary > a {
    border: 2px solid transparent;
    color: inherit; }
    .tdbc-ink-primary > a:focus {
      border-radius: 2px;
      outline: none;
      box-shadow: 0 0 0 3px currentColor; }

.tdbc-ink-secondary {
  color: #21c2b7; }
  .tdbc-ink-secondary > a {
    border: 2px solid transparent;
    color: inherit; }
    .tdbc-ink-secondary > a:focus {
      border-radius: 2px;
      outline: none;
      box-shadow: 0 0 0 3px currentColor; }

.tdbc-ink-tertiary {
  color: #fc5d6d; }
  .tdbc-ink-tertiary > a {
    border: 2px solid transparent;
    color: inherit; }
    .tdbc-ink-tertiary > a:focus {
      border-radius: 2px;
      outline: none;
      box-shadow: 0 0 0 3px currentColor; }

.tdbc-ink-support {
  color: #ffbc00; }
  .tdbc-ink-support > a {
    border: 2px solid transparent;
    color: inherit; }
    .tdbc-ink-support > a:focus {
      border-radius: 2px;
      outline: none;
      box-shadow: 0 0 0 3px currentColor; }

.tdbc-ink-light {
  color: #f9f9f9; }
  .tdbc-ink-light > a {
    border: 2px solid transparent;
    color: inherit; }
    .tdbc-ink-light > a:focus {
      border-radius: 2px;
      outline: none;
      box-shadow: 0 0 0 3px currentColor; }

.tdbc-ink-dark {
  color: #162310; }
  .tdbc-ink-dark > a {
    border: 2px solid transparent;
    color: inherit; }
    .tdbc-ink-dark > a:focus {
      border-radius: 2px;
      outline: none;
      box-shadow: 0 0 0 3px currentColor; }

.tdbc-ink-gray {
  color: #e9e9ea; }
  .tdbc-ink-gray > a {
    border: 2px solid transparent;
    color: inherit; }
    .tdbc-ink-gray > a:focus {
      border-radius: 2px;
      outline: none;
      box-shadow: 0 0 0 3px currentColor; }

.tdbc-ink-gray-dark {
  color: #bbb9ba; }
  .tdbc-ink-gray-dark > a {
    border: 2px solid transparent;
    color: inherit; }
    .tdbc-ink-gray-dark > a:focus {
      border-radius: 2px;
      outline: none;
      box-shadow: 0 0 0 3px currentColor; }

.tdbc-ink-gray-text {
  color: #767676; }
  .tdbc-ink-gray-text > a {
    border: 2px solid transparent;
    color: inherit; }
    .tdbc-ink-gray-text > a:focus {
      border-radius: 2px;
      outline: none;
      box-shadow: 0 0 0 3px currentColor; }

.tdbc-video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  border-radius: 7px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.27);
  overflow: hidden; }
  .tdbc-video iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; }
