---
layout: base.njk
---

<header class="tdbc-hero">
  <h1>
    <small role="img" aria-label="@5t3ph" data-text="@5t3ph"><span>@5t3ph</span></small
    ><br />stephanie eckles
  </h1>
  {%- include "links.njk" -%}
  <p>
    <strong>Girl Geek, Web Developer, she/her</strong><br />
    &lsaquo; a11y • HTML • CSS • Design Systems • JS • React &rsaquo;
  </p>
  <p class="tdbc-ink--primary-light">
    Lead dev building a multi-platform design system,
    <a href="https://learnfromsteph.dev">publishing a video series for beginner developers</a>,
    author of <a href="https://moderncss.dev">ModernCSS.dev</a>, creator of the CSS community
    project <a href="https://stylestage.dev">Style Stage</a>, and an
    <a href="https://egghead.io/instructors/stephanie-eckles?af=2s65ms">egghead&nbsp;instructor</a>.
    <strong class="tdbc-ink--light">Available for</strong> speaking, writing, teaching, and
    consulting - <a href="{{ '/contact/' | url }}">get in touch</a>.
  </p>
</header>
<main id="main">
  <section id="work" class="tdbc-container">
    <h2>
      {%- include "svg.njk" %} Featured Work
    </h2>
    <div class="tdbc-column-container tdbc-features">
      <article>
        <img src="{{ '/img/moderncss.png' | url }}" alt="" />
        <div class="tdbc-background--primary-dark tdbc-element-highlight">
          <h3>Modern CSS Solutions</h3>
          <p class="tdbc-ink--primary-light tdbc-gradient--before">
            A tutorial series exploring modern CSS solutions to old CSS problems.
          </p>
          <span class="tdbc-stack">
            <a href="/moderncss/" aria-label="Learn more about ModernCSS.dev"
              >Learn More</a
            >
            <a href="https://moderncss.dev">Visit ModernCSS.dev</a>
          </span>
        </div>
      </article>
      <article>
        <img src="{{ '/img/stylestage.png' | url }}" alt="" />
        <div class="tdbc-background--primary-dark tdbc-element-highlight">
          <h3>Style Stage</h3>
          <p class="tdbc-ink--primary-light tdbc-gradient--before">
            A modern CSS showcase styled by community contributions.
          </p>
          <span class="tdbc-stack">
            <a href="/stylestage/" aria-label="Learn more about StyleStage.dev"
              >Learn More</a
            >
            <a href="https://stylestage.dev">Visit StyleStage.dev</a>
          </span>
        </div>
      </article>
      <article>
        <img src="{{ '/img/learnfromsteph.png' | url }}" alt="" />
        <div class="tdbc-background--primary-dark tdbc-element-highlight">
          <h3>Learn From Steph</h3>
          <p class="tdbc-ink--primary-light tdbc-gradient--before">
            A video series with enhanced transcripts to help beginners learn the essentials of HTML
            and CSS.
          </p>
          <span class="tdbc-stack">
            <a href="/learnfromsteph/" aria-label="Learn more about LearnFromSteph.dev"
              >Learn More</a
            >
            <a href="https://learnfromsteph.dev">Visit LearnFromSteph.dev</a>
          </span>
        </div>
      </article>
    </div>
  </section>
  <section
    id="speaking"
    class="tdbc-background--secondary tdbc-ink--primary-dark tdbc-element-highlight"
    style="
      --tdbc-highlight-alpha: 0.25;
      --tdbc-color-anchor: var(--tdbc-color-primary-dark);
      --tdbc-color-anchor-active: #5949b3;
      --tdbc-column-min: 25ch;
    "
  >
    <article class="tdbc-container">
      <h2>
        {%- include "svg.njk" %} Speaking & Events
      </h2>
      <ul role="list" class="tdbc-column-container tdbc-list-unstyled tdbc-mt-lg">
        <li class="tdbc-stack tdbc-stack--separator">
          <span class="tdbc-h4">Building a Community-Driven Site with 11ty</span>
          <strong>@ 5to9 Virtual Conference</strong>
          <small>August 25-27, 2020</small>
          <a href="https://5to9.co/">Buy Tickets</a>
        </li>
        <li class="tdbc-stack tdbc-stack--separator">
          <span class="tdbc-h4">Style Stage and Modern CSS</span>
          <strong>LondonCSS Meetup</strong>
          <small>September 10, 2020</small>
          <a href="https://www.twitch.tv/londoncss">Attend on Twitch</a>
        </li>
        <li class="tdbc-stack tdbc-stack--separator">
          <span class="tdbc-h4">CSS Masters Talk Interview</span>
          <small>August 2020</small>
          <a href="https://www.youtube.com/watch?v=3g6oS0VL2zg">Watch on YouTube</a>
        </li>
        <li class="tdbc-stack tdbc-stack--separator">
          <span class="tdbc-h4">CSS Track Curator for... <em>TBA</em></span>
          <small>March 2021</small>
        </li>
      </ul>
    </article>
  </section>
  <section id="articles" class="tdbc-container">
    <h2>
      {%- include "svg.njk" %} Latest Articles
    </h2>
    <div class="tdbc-articles tdbc-mt-lg" style="--tdbc-color-anchor: var(--tdbc-color-primary);">
      {% for post in devposts | source("moderncss") %}
      <article class="tdbc-article tdbc-article--moderncss">
        <img src="{{ '/img/logo-moderncss.png' | url }}" alt="" />
        <h3>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <p>
          {{ post.description }}
        </p>
        <footer>
          <small><a href="https://moderncss.dev">View the ModernCSS.dev Series</a></small>
        </footer>
      </article>
      {% endfor %} 
      {% for post in devposts | source("dev") %}
      <article class="tdbc-article tdbc-article--dev">
        <img src="{{ '/img/logo-dev.png' | url }}" alt="" />
        <h3>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <p>
          {{ post.description }}
        </p>
        <footer>
          <small><a href="https://dev.to/5t3ph">View All DEV Community Articles</a></small>
        </footer>
      </article>
      {% endfor %}
      {% for post in csstricks %}
      <article class="tdbc-article tdbc-article--csstricks">
        <img src="{{ '/img/logo-csstricks.png' | url }}" alt="" />
        <h3>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <p>
          {{ post.description }}
        </p>
        <footer>
          <small
            ><a href="https://css-tricks.com/author/stephanieeckles/"
              >View CSS-Tricks Author Profile</a
            ></small
          >
        </footer>
      </article>
      {% endfor %}
    </div>
  </section>
</main>
<aside
  id="resources"
  class="tdbc-container tdbc-section"
  style="--tdbc-color-anchor: var(--tdbc-color-support);"
>
  <h2>
    {%- include "svg.njk" %} Developer Resources
  </h2>
  <ul role="list" class="tdbc-resources tdbc-list-unstyled tdbc-mt-lg">
    <li>
      <h3>egghead Front-End Videos</h3>
      <p>
        Learn more about various front-end development topics such as flexbox, grid, and Sass in 5
        minutes or less. If you have 20 minutes available, you can create a whole landing page!
      </p>
      <div class="tdbc-row">
        <a
          href="https://egghead.io/playlists/create-a-landing-page-with-css-grid-and-flexbox-6048?af=2s65ms"
          >20 Min. Landing page</a
        >
        <a href="https://egghead.io/instructors/stephanie-eckles?af=2s65ms">View All Videos</a>
      </div>
    </li>
    <li>
      <h3>11ty Netlify Jumpstart</h3>
      <p>
        Quickly launch an 11ty-generated static site. Includes a minimal Sass framework, and
        generated sitemap, RSS feed, and social share preview images.
      </p>
      <div class="tdbc-row">
        <a href="https://github.com/5t3ph/11ty-netlify-jumpstart/generate">Generate Repo</a>
        <a href="https://11ty-netlify-jumpstart.netlify.app/">Preview Site</a>
      </div>
    </li>
    <li>
      <h3>HTML / Sass Jumpstart</h3>
      <p>
        node-sass powered, includes stylelint and prettier, and autoprefix upon build. Develop
        script includes hot-reload via browsersync. Themeable and scalable.
      </p>
      <div class="tdbc-row">
        <a href="https://github.com/5t3ph/html-sass-jumpstart/generate">Generate Repo</a>
        <a href="https://5t3ph.github.io/html-sass-jumpstart/">View Docs</a>
      </div>
    </li>
  </ul>
</aside>
