---
title: "Stephanie Eckles"
layout: home.njk
---

<article id="learn">
  <h2>Front-End Learning Resources</h2>
  <p class="lead">I offer learning resources in a variety of formats including in-depth written tutorials, short videos, courses, and even a CSS playground.</p>
  <ul role="list" class="scroll-grid container">
    {% for item in learn %}
    <li {% if callout %}class="callout"{% endif %}>
      <h3>{{ item.title }}</h3>
      {{ item.description | markdown | safe }}
      {% for link in item.links %}
      <a href="{{ link.url }}">{{ link.text }}</a>
      {% endfor %}
      {% if item.repo %}
      <a class="github-stars" href="https://github.com/5t3ph/{{ item.repo }}" aria-label="{{ item.repo }} has {{ stars[item.repo] }} stars on GitHub">{{ stars[item.repo] }} stars on Github</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <aside role="note">
    <h3>Accessible Cross-Browser CSS Form Styling</h3>
    <p>In just under 2 hrs and 18 lessons, you'll work through the semantics and Sass styles of a mini form design system featuring the most common controls while learning how to keep them accessible. <em>Requires an egghead membership</em>.</p>
    <a href="https://5t3ph.dev/a11y-forms" class="button">Start the Video Course</a>
  </aside>
</article>

<article id="projects">
  <h2>Developer Resources</h2>
  <p>Consider becoming a <a href="https://github.com/sponsors/5t3ph"><strong>Sponsor</strong></a> to allow me to continue making free resources!</p>
  <ul role="list" class="scroll-grid container">
    {% for item in projects %}
    {% if loop.index0 === 1 %}
    <li class="callout">
      {% include "newsletter.njk" %}
    </li>
    {% endif %}
    <li {% if callout %}class="callout"{% endif %}>
      <h3>{{ item.title }}</h3>
      {{ item.description | markdown | safe }}
      {% for link in item.links %}
      <a href="{{ link.url }}">{{ link.text }}</a>
      {% endfor %}
      <a class="github-stars" href="https://github.com/5t3ph/{{ item.repo }}" aria-label="{{ item.repo }} has {{ stars[item.repo] }} stars on GitHub">{{ stars[item.repo] }} stars on Github</a>
    </li>
    {% endfor %}
  </ul>
</article>

<article id="writing">
  <h2>Articles</h2>
  <p class="lead">You can find me as a writer on <a href="https://www.smashingmagazine.com/author/stephanie-eckles/">Smashing Magazine</a>, <a href="https://css-tricks.com/author/stephanieeckles/">CSS-Tricks</a>, <a href="https://moderncss.dev/">ModernCSS</a>, <a href="https://11ty.rocks/">11ty Rocks</a>, and <a href="https://dev.to/5t3ph">DEV</a>.</p>
  <a href="/articles/" class="button button--outlined">View all articles</a>
  <ul role="list" class="scroll-grid container">
    <li class="callout">
      {% for post in collections.posts | limit(1) %}
        <h3><small>Latest post on ThinkDoBeCreate:</small> <a href="{{ post.url }}">{{ post.data.title }}</a></h3>
        <p>{{ post.data.description }}</p>
      {% endfor %}
    </li>
    {% for item in writing  | limit(3) %}
    <li>
      <div class="sidebar">
        <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
        <img src="/img/logo-{{ item.source }}.png" alt="" />
      </div>
      {{ item.description | markdown | safe }}
      {% for link in item.links %}
      <a href="{{ link.url }}">{{ link.text }}</a>
      {% endfor %}
    </li>
    {% endfor %}
  </ul>
</article>

<article id="events">
  <h2>Speaking and Events</h2>
  <aside role="note">
    <p><strong>Available for</strong> speaking, teaching, workshops, and being a podcast or stream guest -
    <a href="{{ '/contact/' | url }}">get&nbsp;in&nbsp;touch</a>.</p>
  </aside>
  <h3>Upcoming</h3>
  {% if not collections.upcomingEvents.length %}
  <p><em>No upcoming events scheduled.</em></p>
  {% else %}
  <ul role="list" class="event-list">
    {% for item in collections.upcomingEvents %}
    <li class="sidebar">
      <div>
        <h4>{{ item.talkTitle }}</h4>
        {% if item.eventTitle %}<p><strong>{{ item.eventTitle }}</strong></p>{% endif %}
        <p>{{ item.dateString }}</p>
      </div>
      <div>
        {% for link in item.links %}
        <a href="{{ link.url }}">{{ link.text }}</a>
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <h3>Past</h3>
  <ul role="list" class="event-list">
    {% for item in collections.pastEvents %}
    <li class="sidebar">
      <div>
        <h4>{{ item.talkTitle }}</h4>
        {% if item.eventTitle %}<p><strong>{{ item.eventTitle }}</strong></p>{% endif %}
        <p>{{ item.dateString }}</p>
      </div>
      <div>
        {% for link in item.links %}
        {% if not link.removePast %}
        <a href="{{ link.url }}">{{ link.text }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>
  <h3>Podcast Appearances</h3>
  <p class="lead">Check out all episodes of the podcast I co-host - <a href="https://wordwrap.dev">Word Wrap</a></p>
  <ul role="list" class="event-list event-list--podcasts">
    {% for item in collections.appearances %}
    <li class="sidebar">
      <div>
        <h4><a href="{{ item.link }}">{{ item.show }}</a></h4>
        <small><strong>Hosted by:</strong> {{ item.hosts }}</small>
        <p>{{ item.dateString }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</article>