---
title: Posts
layout: base
---

{% for post in collections.posts %}
<article class="excerpt">
  <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
  <p><small>Published on: {{ post.data.postdate | formatDate | safe }}</small></p>
  <p>{{ post.data.description }}</p>
</article>
{% endfor %}