---
permalink: "demos/accessibility-basics.html"
---
<!DOCTYPE html>
<html>
  <head>
    <title>Accessibility Basics | Learn How to Make a Website with Steph</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/style-a11ydemo.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Amatic+SC|Monoton&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="section">
      <h1>Heading 1</h1>
      <p>
        Sweet liquorice biscuit sweet jelly candy canes chupa chups. Ice cream carrot cake cupcake I
        love tiramisu chocolate.
      </p>
      <h2>Heading 2</h2>
      <p>
        Cotton candy tootsie roll fruitcake. Chocolate bar lollipop halvah gingerbread carrot cake
        jelly beans cupcake candy.
      </p>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <p>
        Caramels macaroon bear claw fruitcake I love cake powder croissant. Pudding dragée candy
        canes chocolate cake. I love I love pudding chocolate chocolate cake wafer chocolate cake
        chocolate cake gingerbread.
      </p>
      <h5>Heading 5</h5>
      <p>
        Bonbon fruitcake pastry I love bonbon jelly-o. Sugar plum danish powder chocolate bar
        tiramisu toffee cake.Cupcake toffee jelly beans cake I love.
      </p>
      <h6>Heading 6</h6>
      <p>
        I love I love pudding chocolate chocolate cake wafer chocolate cake chocolate cake
        gingerbread.
      </p>
    </div>
    <div class="section">
      <h2>Photo Gallery</h2>
      <div class="grid">
        <img src="http://placecorgi.com/320?1" alt="Good dog" />
        <img src="http://placecorgi.com/320?2" alt="Nice dog" />
        <img src="http://placecorgi.com/320?3" alt="Hungry dog" />
        <img src="http://placecorgi.com/320?4" alt="Funny dog" />
      </div>
    </div>
    <div class="section poor-text-contrast">
      <h2>Poor Text Contrast</h2>
      <div class="grid">
        <p>
          Caramels macaroon bear claw fruitcake I love cake powder croissant. Pudding dragée candy
          canes chocolate cake.
        </p>
        <p>
          Caramels macaroon bear claw fruitcake I love cake powder croissant. Pudding dragée candy
          canes chocolate cake.
        </p>
        <p>
          Caramels macaroon bear claw fruitcake I love cake powder croissant. Pudding dragée candy
          canes chocolate cake.
        </p>
        <p>
          Caramels macaroon bear claw fruitcake I love cake powder croissant. Pudding dragée candy
          canes chocolate cake.
        </p>
      </div>
    </div>
    <div class="section good-text-contrast">
      <h2>Good Text Contrast</h2>
      <div class="grid">
        <p>
          Caramels macaroon bear claw fruitcake I love cake powder croissant. Pudding dragée candy
          canes chocolate cake.
        </p>
        <p>
          Caramels macaroon bear claw fruitcake I love cake powder croissant. Pudding dragée candy
          canes chocolate cake.
        </p>
        <p>Caramels macaroon</p>
        <p>Cake</p>
      </div>
    </div>
    <div class="section ui-contrast">
      <h2>User Interface Contrast</h2>
      <div class="grid">
        <label class="poor-input"><span>Poor Contrast / No Focus</span><input type="text" /></label>
        <label class="good-input"
          ><span>Good Contrast / With Focus</span><input type="text"
        /></label>
        <span>
          <button role="button" class="poor-button">Poor Button</button
          ><button role="button" class="good-button">Good Button</button>
        </span>
      </div>
    </div>
  </body>
</html>
